@import '../../../global/scss/config';

.editable-field-container{
  position:relative;

  .editable-field-header{
    margin-bottom:3px;

    .action-item {
      @include flex(row, flex-start, center);
      margin-right: 9px;
      &:last-of-type{
        margin-right:0;
      }

      &:hover{
        cursor:pointer;
      }

      .action-item-label {
        @include font(12px, 500, 0, $h4-subtext);
        margin-left:3px;
        line-height:1em;
      }
    }


    .editable-field-label{
      @include font(12px, 700, 0.025em, $h4-header);
      margin-right:6px;
      text-transform: uppercase;
      line-height:1em;
    }
  }

  .static-field-value {
    @include font(inherit, 500, 0, $h4-subtext);
  }

  .editable-field-error{
    @include font(12px, 500, 0, $error-color);
    transform:translate(0, -50px);
    margin-top:3px;
    transition:all 0.2s ease-in;
  }

}

.editable-field-icon {

  &:hover{
    cursor:pointer;
  }
}